.row.page-header
  %h1 hello

.row
  %table.table.table-condensed
    %tbody
      %tr
        %td= "Wait: %d" % @cards_wait.count
        %td
          - if @cards_wait.count > 0
            %a.btn.btn-default{href: "/carder/workspace"} 提单
          - else
            %a.btn.btn-default{disabled: "disabled"} 提单

.row
  %table.table.table-condensed
    %thead
      %tr
        %td card
        %td vcf
    %tbody
      - @cards_with_vcf.each do |card|
        %tr
          %td= card.pic_url
          %td= card.intsig
          %td= link_to "download" , "/vcf/%s" % card.intsig
