-# coding: UTF-8
%nav.navbar.navbar-default{role: "navigation", style:"margin-bottom:0px;"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to Settings.website.title, "/", class: "navbar-brand"
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse{role: "navigation", id:"bs-example-navbar-collapse-1"}
      %ul.nav.navbar-nav
        %li.active= link_to "首页", "/carder"
        %li= link_to "工作室", "/carder/workspace"

      %input#navbar_right_lis{type: "hidden", value: 1}/
      %ul.nav.navbar-nav.navbar-right
        %li.glyphicon-width
          %a{href: "/carder/trash"}
            %i.glyphicon.glyphicon-trash
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.glyphicon.glyphicon-cog
            %b.caret
          %ul.dropdown-menu
            %li
              %a
                %i.glyphicon.glyphicon-user
                账户设置
            %li.divider
            %li
              %a{href: "/account/trash"}
                %i.glyphicon.glyphicon-trash
                回收站
            - if current_user and current_user.admin?
              %li
                %a{:href => "/cpanel"}
                  %i.glyphicon.glyphicon-wrench
                  后台管理
            %li.divider
            %li
              %a{:href => "/carder/user/logout"}
                %i.glyphicon.glyphicon-log-out
                退出

