.row
  .col-lg-4
    .stat
      %h2 Users
      %span.stat-heading= @weixiners.count
  .col-lg-4
    .stat
      %h2 Messages
      %span.stat-heading= @messages.count
  .col-lg-4
    .stat
      %h2 Phantoms 
      %span.stat-heading= @phantoms.count

