event:
  subscribe: "感谢您的关注.\n一切从上传名片开始."
  unsubscribe: "期待您的再次关注."
image: "名片上传成功."
command:
  q:
    name: "query"
    human: "查询"
    desc: "查询名片录入情况."
    regexp: [Cc][Qq]\s(\p{Han}|\d)+
    usage: "cq 名片ID"
    method: "cmd_query"
    test: "TODO - array"
    result:
      success: "[查询]成功."
      fail: "[查询]操作失败."
  h:
    name: "help"
    human: "帮助"
    desc: "显示命令列表"
    regexp: "[Cc][Hh]"
    usage: "ch"
    method: "cmd_help"
    test: "TODO - array"
    result:
      success: "TODO"
      fail: "TODO"
TODO:
  a:
    name: alias
    human: 别名
    desc: 名片ID不好记，起个好记的别名吧.
    regexp: ca\s\d+\s(\p{Han}|\w)+
    usage: ca 名片ID 名片ID对应的别名\nca 1 公司名片
    method: cmd_alias
    test: TODO - array
    result:
      success: \[别名\]操作成功.
      fail: \[别名\]操作失败.
  l:
    name: list
    human: 列表
    desc: 所有上传名片列表.
    regexp: cl
    usage: cl
    method: cmd_list
    test: TODO - array
    result:
      success: 名片列表如下
      fail: \[列表\]操作失败.
  i:
    name: id
    human: 名片ID查询
    desc: TODO
    regexp: ci\s(\p{Han}|\w)+
    usage: ci 名片别名
    method: cmd_query_index
    test: TODO - array
    result:
      success: \[ID查询\]成功.
      fail: \[ID查询\]失败.
  s:
    name: store 
    human: 评分
    desc: 高分低分都是对我们的支持.
    regexp: cs\s\d+\s\d+
    usage: cs 名片ID 分数(0-10)
    method: cmd_store
    test: TODO - array
    result:
      success: \[评分\]成功.
      fail: \[评分\]失败.
  f:
    name: feedback
    human: 反馈
    desc: 把您使用\[名片转家\]的感觉告诉我们...
    regexp: cf\s(\p{Han}|\w)+
    usage: cf 感觉名片转家真够专家的...
    method: cmd_feedback
    test: TODO - array
    result:
      success: \[反馈\]成功.\n感谢您的反馈.
      fail: \[评分\]失败.
  u:
    name: usage
    human: 用法查询
    desc: 某个具体命令的用法.
    regexp: cu\s\w{2}
    usage: cu ca
    method: cmd_usage
    test: TODO - array
    result:
      success:  TODO
      fail: \[用法查询\]失败.
