default: &default
  domain: "http://xiao6say.solife.us"
  admins: "jay_li@intfocus.com,jay_li@solife.us"
  weixin:
    name: "小6语记"
    desc: "TODO"
    token: "token"
  website:
    title: "小6语记"
    subtitle: "Carder"
    slogan: "你说、我记"
    favicon: "/images/favicon.ico"
    footer: "xiao6say.solife.us"
  cdn:
    qiniu:
      bucket: "cdn"
      access_key: ''
      secret_key: ''
      out_link: "http://cdn.qiniudn.com"
  server:
    app_root_path: "/home/work/xiao6say"
    host: "solife.us"
    user: "root"
    password: "password"

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
  default_password: ''
