default: &default
  domain: "http://weixin.solife.us"
  admins: "admin"
  weixin:
    name: "生活点滴"
    desc: "TODO"
    token: "weixin-token"
  website:
    title: "生活点滴"
    subtitle: "Carder"
    slogan: "爱生活、爱记录"
    favicon: "/images/favicon.ico"
  alipay:
    pid: '' 
    secret: ''
    seller_email: "" 
    return_url: ""
    notify_url: ""
  cdn:
    qiniu:
      bucket: "bucket-name"
      access_key: 'key'
      secret_key: 'key'
      out_link: "http://bucket.qiniudn.com"
  server:
    app_root_path: "/app-root-path"
    host: "host"
    user: "user"
    password: "pwd"

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
  default_password: ''
