= stylesheet_link_tag "/stylesheets/bootstrapValidator.min.css"
= javascript_include_tag "/javascripts/bootstrapValidator.js"

.page-header
  %h2 登陆

%form#loginForm.form-horizontal{action: "/carder/user/login", method: "post"}
  .form-group
    %label.col-lg-2.control-label 登陆邮箱
    .col-lg-6
      %input.form-control{name: "user[email]", type: "text"}/
  .form-group
    %label.col-lg-2.control-label 登陆密码
    .col-lg-6
      %input.form-control{name: "user[password]", type: "password"}/
  .form-group
    .col-lg-3.col-lg-offset-2
      %button.btn.btn-primary{type: "submit"} 提交

= javascript_include_tag "/javascripts/user_login.js"
