-# coding: UTF-8
%nav.navbar.navbar-default{role: "navigation", style:"margin-bottom:0px;"}
  .container
    %div{class: "#{mobile? ? 'col-sm-12' : 'col-sm-9 col-sm-offset-1'}", style: "padding-left:0px;"}
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to Setting.website.title, "/", class: "navbar-brand"
      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse{role: "navigation", id:"bs-example-navbar-collapse-1"}
        %ul.nav.navbar-nav.navbar-right
          - unless current_user
            %li 
              = link_to "登陆", "/user/login"
          - else
            %input#navbar_right_lis{type: "hidden", value: 1}/
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.glyphicon.glyphicon-cog
                %b.caret
              %ul.dropdown-menu
                - if current_user.admin?
                  %li
                    %a{:href => "/cpanel"}
                      %i.glyphicon.glyphicon-wrench
                      后台管理
                  %li.divider
                %li
                  %a{:href => "/user/logout"}
                    %i.glyphicon.glyphicon-log-out
                    退出

